<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>Flask-Security Example</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
<div class="container">
<nav class="navbar navbar-light bg-faded">
<button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
    &#9776;
  </button>
  <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
  <a class="navbar-brand" href="/">MDBox</a>
  <ul class="nav navbar-nav">
    {% if current_user.is_authenticated() %}
    <li class="nav-item">
      <a class="nav-link" href="/upload">Upload <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/myuploads">My Uploads <span class="sr-only">(current)</span></a>
    </li>
    {% endif %}
    </ul>
    <div class="pull-right">
    <ul class="nav navbar-nav">
    {% if current_user.is_authenticated() %}
     <li class="nav-item">
      <span class="nav-span">Hi, {{ current_user.email }}!</span>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('security.logout') }}">Logout</a>
    </li>
{% else %}
    <li class="nav-item"><a class="nav-link" href="{{ url_for('security.login') }}">Login</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ url_for('security.register') }}">Register</a></li>
{% endif %}
  </ul>
  </div>
  </div>
</nav>


  {% block content %}
  {% endblock %}
</div>

<footer class="footer">
  <div class="container">A Brisbane HealthHack Project.</div>
</footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
</body>
</html>
